@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



/* First i am doing regular css for responsiveness than i will do this in tailwind */

*, ::after, ::before {
  margin: 0;
  box-sizing: inherit;
  font-family: inherit;
}
html {
  font-size: 62.5%;
}

@media only screen and (max-width : 75em) {
  html {
    font-size: 59%;
  }
}
@media only screen and (max-width:56.25em) {
  html {
    font-size:56%
  }
}

@media only screen and (min-width:112.5em) {
  html {
    font-size:65%
  }
}


body {
  line-height: 1.5;
  box-sizing: border-box;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: sans-serif;
}


/* @media(prefers-color-scheme: dark) {
  .sidebar.adaptive {
    box-shadow: rgba(245, 245, 245, 0.8) 0 7px 29px 0;
  }

  .sidebarA:hover.adaptive {
    background: purple;
  }
} */

.border {
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
  background-color: rgb(255, 255, 255);
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-attachment: scroll;
  background-image: none;
  background-size: auto;
  background-origin: padding-box;
  background-clip: border-box;
}

.homeDiv {
  background-image: linear-gradient(
      to right,
      rgba(245, 245, 245, 0.8),
      rgba(245, 245, 245, 0.8)
    ),
    url("https://d33wubrfki0l68.cloudfront.net/daac8858fd4a0ccea44f59dfd079c3c16c263f33/c157c/assets/svg/common-bg.svg");
}


.homeDiv2 {
  transform: translate(-50%,-50%);
}

@media only screen and (max-width:37.5em) {
  .heading {
    font-size:4.5rem
  }
}

@media only screen and (max-width:37.5em){
  .primaryText {
    font-size:2rem;
}
}

.sidebar {
  transform: translateY(-50%);
  background: #fff;
  box-shadow: rgba(100,100,111,.2) 0 7px 29px 0;
}

@media only screen and (max-width: 56.25em) {

  .sidebar {
    display: none;
  }
}



.sidebarA {
  transition-property: background;
transition-duration: 0.3s;
transition-timing-function: ease;
transition-delay: 0s;
}

.sidebarA:hover {
  background:rgba(97, 30, 240, 0.2)
}



@media only screen and (max-width : 56.25em){
  .picofme {
    width: 4.5rem;
    height: 4.5rem;
    margin-right: 1.2rem;
    
  }
}

.mouseContainer {
  bottom: 3%;
  transform: translateX(-50%);
}

.mouse::before {
  content: '';
  width: 5px;
  height: 5px;
  position: absolute;
  top: 7px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  border-radius: 50%;
  opacity: 1;
  animation: wheel 1.3s infinite;
  -webkit-animation: wheel 1.3s infinite;
}

.mouse {
  border: 2px solid #333;
  border-radius: 60px;
  
}

.aboutDiv {
  background-color: rgb(250, 250, 250);
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-attachment: scroll;
  background-image: none;
  background-size: auto;
  background-origin: padding-box;
  background-clip: border-box;
}

.aboutsection::after {
  content: "";
  position: absolute;
  top: calc(100% + 1.5rem);
  height: 5px;
  width: 3rem;
  background: #7843e9;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
}

.skill {
  font-family: 'Roboto', sans-serif;;
}

.contactDiv {
  background-image: linear-gradient(
      to right,
      rgba(245, 245, 245, 0.8),
      rgba(245, 245, 245, 0.8)
    ),
    url("https://d33wubrfki0l68.cloudfront.net/daac8858fd4a0ccea44f59dfd079c3c16c263f33/c157c/assets/svg/common-bg.svg");
}

.aTagAbout {
  background-color: rgb(120, 67, 233);
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-attachment: scroll;
  background-image: none;
  background-size: auto;
  background-origin: padding-box;
  background-clip: border-box;

  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);

  transition: transform .3s;
}

.inputField {
  border: 1px solid #ebebeb;
  background-color: rgb(240, 240, 240);
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-attachment: scroll;
  background-image: none;
  background-size: auto;
  background-origin: padding-box;
  background-clip: border-box;
}

button {
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
}
